<div class="container">
    <h2>Experiencia</h2>
<div class="content-section">
    <h2>Censista | Instituto Nacional de Estadísticas</h2>
    <p class="fecha">MARZO 2024 – JUNIO 2024 (Fin de contrato)</p>
    <p>Participación en la campaña del Censo 2024, realizando toma de datos en formato encuesta, visitando territorios
        complejos y siguiendo protocolos establecidos por el Instituto Nacional de Estadísticas.</p>
</div>
<div class="content-section">
    <h2>Analista de Admisión | INACAP (Convalida práctica profesional)</h2>
    <p class="fecha">NOVIEMBRE 2023 – MARZO 2024</p>
    <p>Atención a público, generar reportes, realizar y recibir llamadas, tareas de análisis de datos, desarrollo de una
        aplicación, visualizaciones de datos con lenguaje Python, uso de ofimática, PowerBI, apoyo en proceso de
        matrículas admisión 2024.</p>
</div>
<div class="content-section">
    <h2>Admisión Informático | Colegio Saucache</h2>
    <p class="fecha">NOVIEMBRE 2022 – ENERO 2023</p>
    <p>Instalación de red computacional y apoyo en campaña de admisión.</p>
</div>
<div class="content-section">
    <h2>Encargado de Bodega | Sodexo Chile S.A</h2>
    <p class="fecha">ABRIL 2022 – JUNIO 2022</p>
    <p>Manejo de inventario y cumplimiento de protocolos de seguridad, carga de materiales, almacenamiento de
        substancias peligrosas, recepción y entrega de insumos.</p>
</div>
<div class="content-section">
    <h2>Vendedor-Reponedor | Easy-Cencosud (Chile)</h2>
    <p class="fecha">AGOSTO 2021 – ABRIL 2022</p>
    <p>Atención al público, reposición, control de inventario y participación en operativos de tienda.</p>
</div>
<div class="content-section">
    <h2>Ayudante | Constructora (En Chile al volver durante la pandemia)</h2>
    <p class="fecha">ENERO 2021 – JULIO 2021</p>
    <p>Tareas de carga, corte e instalación metalcon, tomar medidas, preparar materiales, enmasillado, pasta muro y
        pintura, cerámica, obra gruesa y fina (como ayudante).</p>
</div>
<div class="content-section">
    <h2>Vendedor | Importadora Maha Lakshmi (En Brasil, interrumpido por la pandemia)</h2>
    <p class="fecha">JUNIO 2018 – MARZO 2020</p>
    <p>Uso de ofimática, trabajo en bodega, atención al cliente, entrega de productos, caja e inventarios.</p>
</div>
<div class="content-section">
    <h2>Bio-constructor | Obra en Proyecto Ecológico (Brasil)</h2>
    <p class="fecha">AGOSTO 2014 – MAYO 2018</p>
    <p>Participación en proyectos ecológicos, labores de jardinería y cuidado de animales, construcción tradicional y
        ecológica, tareas administrativas, difusión online en RRSS y página web, y monitor en actividades de aprendizaje
        para voluntariados.</p>
</div>
</div>