<div class="container about">
    <div class="content-section">
        <h2>Sobre mí</h2>
        <p>
            Hola, soy José, Analista Programador titulado en Inacap. Mi trayectoria profesional ha sido diversa y enriquecedora.
        </p>
    </div>
    <div class="content-section">
        <p>
            Mi interés por la <strong>programación</strong> comenzó hace años en Brasil, donde <strong>gestionaba proyectos ecológicos</strong> y parte del equipo <strong>desarrollaba una página para el Centro Cultural y la Finca Ecológica</strong> usando <strong>Wordpress</strong>.
        </p>
    </div>
    <div class="content-section">
        <p>
            <strong>Comencé a aprender programación en 2019, justo antes de que comenzara la pandemia</strong>. Completé mis <strong>estudios formales en 2022 y 2023;</strong>  en 2024 realicé mi práctica profesional y <strong>obtuve mi título en INACAP</strong>, enfocado en <strong>análisis de datos con Excel, Python y PowerBI</strong> (principalmente).
        </p>
    </div>
    <div class="content-section">
        <p>
            En mi tiempo libre, disfruto crear <strong>tutoriales de programación</strong>, tocar la guitarra, jugar con mi hijo y explorar videojuegos retro.
        </p>
    </div>
    <div class="content-section">
        <p>
            Estoy emocionado por seguir creciendo en el área de la <strong>programación y análisis de datos</strong>, buscando nuevas oportunidades para <strong>aplicar mis habilidades y experiencia</strong>.
        </p>
    </div>
</div>

