/* Estilos para pantallas pequeñas (hasta 389px) */
@media only screen and (max-width: 389px) {
    /* contenedor principal, en bloque para evitarel grid original*/
    .container-fluid {
        display: block;
        margin: 0;
    }
    /* ocultamos el sidebar que es el menu lateral de pantallas grandes */
    .sidebar {
        display:none
    }
    /* ajustamos el main-content para que tenga 100% de ancoh y la distancia del top quede bien con su margin en 4.5rem */
    .main-content {
        margin-top: 3.8rem;
        width: 100%;
        padding: 0.7rem;
    }
    /* todo el ancho #sobremi, #habilidades, #experiencia */
    #sobremi, #habilidades, #experiencia {
        width: 100%; /* Asegura que el contenido ocupe todo el ancho disponible */
        margin: 0.7rem auto; /* Centra el contenido horizontalmente */
        padding-top: 20px;
        padding-bottom: 40px;
        background-color: var(--black-9);
        border-radius: 8px;
        transition: box-shadow 0.3s, background-color 0.3s;
        box-shadow: 0 0 10px var(--black-11);
        scroll-margin-top: 70px;
    }

    .btn-container {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 20;
    }
    .btn-toggler {
        background-color: transparent;
        border: none;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* botn foto yo */
    .btn-img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
    }

    .btn-container:hover .btn-img {
        opacity: 0.8;
    }
    #rrss-nav {
        display: flex;
        position: fixed !important;
        top: 10px; 
        left: 10px;
        flex-direction: row; /* Alinea los íconos horizontalmente */
        gap: 10px; /* Espaciado entre íconos */
        align-items: center; /* Alinea verticalmente los íconos */
        z-index: 10; /* Asegura que los íconos estén sobre otros elementos */
    }

    #rrss-ul {
        display: flex;
        flex-direction: row; /* Alinea los íconos horizontalmente */
        gap: 0.8rem; /* Espaciado entre íconos */
        padding: 0;
        margin: 0;
        margin-top: 0.45rem;
        margin-left: 3rem;
    }

    #rrss-ul .nav-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #rrss-ul .nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px; /* Ajusta el tamaño del ícono */
        height: 40px; /* Ajusta el tamaño del ícono */
        background: var(--black-11); /* Fondo negro con transparencia */
        color: white; /* Color del ícono */
        border-radius: 50%; /* Hace que el fondo del ícono sea redondo */
        box-shadow: 0 4px 8px var(--black-11); /* Sombra alrededor del ícono */
        text-decoration: none; /* Quita el subrayado del enlace */
        transition: background 0.3s, color 0.3s;
    }
    #rrss-ul .nav-link:hover {
        background: var(--black-11); /* Fondo más oscuro al pasar el ratón */
    }

    #rrss-ul .nav-link i {
        font-size: 20px; /* Tamaño del ícono */
    }

    .offcanvas-header .btn-close {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        color: var(--font-3); /* Asegúrate de que el color sea claro */
        font-size: 1.5rem;
    }
    .offcanvas {
        background-color: var(--black-11);
        width: 100%;
    }

    /* Estilos para enlaces del menú de navegación */
    .navbar-nav .nav-link {
        color: var(--font-1);
        text-decoration: none;
        transition: color 0.3s;
    }

    .navbar-nav .nav-link:hover {
        color: var(--color-1);
        text-decoration: none;
    }

    .navbar-nav .nav-link:visited {
        color: var(--font-1);
    }

    .navbar-nav .nav-link.active {
        color: var(--color-1);
    }
    .skill-icon {
        width: 36px; /* Ajusta el tamaño del ícono según sea necesario */
        height: 36px;
    }
    
}

/* Estilos para el botón toggler y redes sociales en pantallas medianas */
@media only screen and (min-width: 390px) and (max-width: 620px)  {
    .btn-container {
        position: fixed; /* Asegura que el contenedor esté en una posición fija */
        top: 1rem; /* Ajusta la posición desde la parte superior */
        right: 1rem; /* Ajusta la posición desde el borde derecho */
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--black-11); /* Fondo negro con 60% de opacidad */
        border-radius: 50%; /* Hace que el fondo sea redondo */
        box-shadow: 0 4px 8px var(--black-1); /* Sombra alrededor del fondo */
        width: 60px; /* Tamaño del contenedor */
        height: 60px; /* Tamaño del contenedor */
        z-index: 10; /* Asegura que el botón esté sobre otros elementos */
    }

    .btn-toggler {
        background-color: transparent;
        border: none;
        padding: 0;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-img {
        width: 50px; /* Ajusta el tamaño según tu preferencia */
        height: 50px; /* Ajusta el tamaño según tu preferencia */
        object-fit: cover; /* Mantiene la proporción de la imagen */
        border-radius: 50%; /* Hace que la imagen sea redonda */
    }

    .btn-container:hover .btn-img {
        opacity: 0.8; /* Añade un efecto de opacidad al pasar el ratón */
    }

    .btn-toggler:focus {
        outline: none; /* Quita el borde de enfoque */
    }

    #rrss-nav {
        display: flex;
        position: fixed !important;
        top: 10px; /* Ajusta la posición desde la parte superior */
        left: 10px; /* Ajusta la posición desde el borde izquierdo */
        flex-direction: row; /* Alinea los íconos horizontalmente */
        gap: 10px; /* Espaciado entre íconos */
        align-items: center; /* Alinea verticalmente los íconos */
        z-index: 10; /* Asegura que los íconos estén sobre otros elementos */
    }

    #rrss-ul {
        display: flex;
        flex-direction: row; /* Alinea los íconos horizontalmente */
        gap: 0.8rem; /* Espaciado entre íconos */
        padding: 0;
        margin: 0;
        margin-top: 1rem;
        margin-left: 3rem;
    }

    #rrss-ul .nav-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #rrss-ul .nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px; /* Ajusta el tamaño del ícono */
        height: 40px; /* Ajusta el tamaño del ícono */
        background: var(--black-11); /* Fondo negro con transparencia */
        color: white; /* Color del ícono */
        border-radius: 50%; /* Hace que el fondo del ícono sea redondo */
        box-shadow: 0 4px 8px var(--black-11); /* Sombra alrededor del ícono */
        text-decoration: none; /* Quita el subrayado del enlace */
        transition: background 0.3s, color 0.3s;
    }

    #rrss-ul .nav-link:hover {
        background: var(--black-11); /* Fondo más oscuro al pasar el ratón */
    }

    #rrss-ul .nav-link i {
        font-size: 20px; /* Tamaño del ícono */
    }

    /* Ajustes adicionales para asegurarse de que los íconos y el botón se alineen bien */
    .container-fluid {
        display: flex;
        justify-content: flex-end; /* Ajusta el contenido del contenedor principal */
        padding: 0;
    }

    .sidebar {
        display: none;
    }

    .main-content {
        margin-top: 4.8rem;
        width: 100%;
        padding: 0.5rem;
    }

    /* todo el ancho #sobremi, #habilidades, #experiencia */
    #sobremi, #habilidades, #experiencia {
        width: 100%; /* Asegura que el contenido ocupe todo el ancho disponible */
        margin: 0.7rem auto; /* Centra el contenido horizontalmente */
        padding-top: 20px;
        padding-bottom: 40px;
        background-color: var(--black-9);
        border-radius: 8px;
        transition: box-shadow 0.3s, background-color 0.3s;
        box-shadow: 0 0 10px var(--black-11);
        scroll-margin-top: 70px;
    }

    .content-section {
        width: 100%;
        max-width: none;
        margin: 10px 0;
        padding: 10px;
        box-shadow: 0 0 8px var(--sidebar-bg);
    }

    .content-section h2 {
        font-size: 24px;
        margin-bottom: 8px;
    }

    .content-section p {
        font-size: 14px;
    }

    .offcanvas-header .btn-close {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        color: var(--font-3); /* Asegúrate de que el color sea claro */
        font-size: 1.5rem;
    }
    .offcanvas {
        background-color: var(--black-11);
        width: 100%;
    }

    /* Estilos específicos para los enlaces del menú de navegación */
    .navbar-nav .nav-item .nav-link {
        color: var(--font-1); /* Cambia el color del texto a la variable deseada */
        text-decoration: none; /* Elimina el subrayado del enlace */
        transition: color 0.3s; /* Suaviza el cambio de color */
    }

    /* Cambia el color del enlace al pasar el ratón */
    .navbar-nav .nav-item .nav-link:hover,
    .navbar-nav .nav-item .nav-link:focus {
        color: var(--color-1); /* Cambia el color al pasar el ratón o al enfocarse */
        text-decoration: none; /* Asegura que el enlace no esté subrayado */
    }

    /* Estilo para enlaces visitados */
    .navbar-nav .nav-item .nav-link:visited {
        color: var(--font-1); /* Asegura que los enlaces visitados también usen el color especificado */
    }

    /* Estilo para enlaces activos */
    .navbar-nav .nav-item .nav-link.active {
        color: var(--color-1); /* Cambia el color para el enlace activo si se aplica la clase 'active' */
    }
    .skill-icon {
        width: 40px; /* Ajusta el tamaño del ícono según sea necesario */
        height: 40px;
    }
    
}

